*{
    font-family: 'Be Vietnam Pro', sans-serif;
}
/* Inicio Section Go for it */
.upFooter{
    align-items: center;
    background-color: #3CDDF3;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 28px;
    padding: 30px 80px;
}
.textUpFooter{
    line-height: 0.3;
    padding-bottom: 40px;
    text-align: center;
}
.btnUpFooter{
    background-color: #232851;
    border: 0;
    border-radius: 25px;
    box-shadow: 0px 5px rgba(0,0,0,0.1);
    color: white;
    font-weight: bold;
    padding: 15px 40px;
}
/* Fin Section Go for it */

/* Inicio footer */
footer{
    background-color: #1E1E26;
    color: white;
    padding: 60px;
}
form{
    display: flex;
    justify-content: center;
}
.inputForm{
    border-radius: 25px;
    border: 0;
    margin-right: 10px;
    padding: 10px 15px;
    width: 300px;
}
.btnForm{
    background-color: #8B48BF;
    border: 0;
    border-radius: 25px;    
    color: white;
    font-weight: bold;
    padding: 15px 25px;
}
.list{
    list-style: none;
}
.listItemMenu{
    color: white;
    text-decoration: none;
}
.listMenu{
    display: flex;
    flex-direction: space-around;
    font-weight: bold;
    justify-content: center;
    line-height: 2rem;
    padding-top: 30px;
}
.listMenuIzq{
    padding-right: 90px;
}
.listMenuDer{
    padding-left: 30px;
}
.listIcon{
    display: flex;
    justify-content: center;
}
.listItemIcon{
    padding: 28px;
}
.logoFooter{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
.copyright{
    text-align: center;
}
/* Fin footer */