
*{
    
    font-family: 'Be Vietnam Pro', sans-serif;
}
/* Estilos de menú de navegación */
.menu{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-content: center;
}

.elementosNav{
    padding: 1rem;
}

.logotipo{
    max-width: 100%;
    flex: initial;
    position: relative;
    right: 2rem;
}

.menuBurger{
    width: 2.8rem;
    position: relative;
    left: 1.5rem;        
} 


/* Estilos de la primer seccción de la página */

.pantalla{
    box-sizing: border-box;
}

.padelJugador{
    width: 82%;
    max-width: 100%;
    padding: 2rem 2rem;
}

.openMexico{
    display: flex;
    width: 100%;
    padding-right: 0.8rem;
    margin-top: 1.7rem;
    box-sizing: border-box;
    flex-direction: column;
    align-items: end;
}

.hijosOpenMex{
    padding-right: 8%;
    text-align: end;
}

.saltoLinea{
    display: block;
}

.encabezadoOM{
    color: #232C50;
    font-weight: 700;
    font-size: 2rem;
}

.parrafoOM{
    font-size: 1rem;
    font-weight: 100;
}

.hijosOpenMex button{
    background-color: #8B48BF;
    color: #FFFFFF;
    border-radius: 2em;
    border:none;
    font-weight: lighter;
    font-size: 0.8rem;
}


/* Segunda parte pros de padel */
.prosPadel{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1.5rem;
    box-sizing: border-box;
}

.diffPro{
    background-color: #3CDDF3;
    color: #FFFFFF;
    /* width: 100%; */
    padding-left: 1.5rem;
}

.cualidadPro{
    box-sizing: border-box;
    padding-left: 1.3rem;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.cualidadPro p{
    display: flex;
    box-sizing: border-box;
    height: 2rem;
}

.cualidadPro p > span:first-of-type{
    display: flex;
    background-color: #8B48BF;
    color: #FFFFFF;
    border-radius: 2em;
    justify-content: center;
    align-items: center;
    width: 15%;
    position: relative;
    left: 0.7rem;
}

.cualidadPro p > span:first-of-type + span{
    display: flex;
    background-color: #DCC8EC;
    width: 100%;
    padding-left: 1.3rem;
    align-items: center;
    
}

p.cualidadText{
    color: #B3B2B7;
    padding-left: 1.3rem;
}

/* Inicio Section best of the month */
.titleBestMonth{
    color: #232851;
    font-size: 40px;
}
.bestMonth{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}
.articleLebron{
    background-color: rgb(249, 249, 249);
    position: relative;
    margin: 40px 0px ;
    padding: 40px 30px 10px 30px;
    text-align: center;
    width: 102%;
}
.imgLebron{
    position: absolute;
    bottom: 83%;
    left: 42%;
}
.articleSanyo{
    display: none;
}
.articleNavarro{
    display: none;
}
.titleLebron{
    color:#232851
}
.textLebron{
    color: rgb(119, 119, 119);

    line-height: 1.5rem;
    text-align: center;

}
.btnMore{
    background-color: #8B48BF;
    border: 0;
    border-radius: 25px;
    color: white;
    padding: 15px 50px;
}
.btnMore:hover{
    opacity: 0.5;
}
/* Inicio Section Go for it */
.upFooter{
    align-items: center;
    background-color: #3CDDF3;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    padding: 30px 80px;
}
.textUpFooter{
    line-height: 0.3;
    padding-bottom: 40px;
    text-align: center;
}
.btnUpFooter{
    background-color: #232851;
    border: 0;
    border-radius: 25px;
    box-shadow: 0px 5px rgba(0,0,0,0.1);
    color: white;
    padding: 15px 40px;
}
.btnUpFooter:hover{
    background-color: #b29cc3;
}
/* Fin Section Go for it */

/* Inicio footer */
footer{
    background-color: #1E1E26;
    color: white;
    padding: 60px;
}
form{
    display: flex;
    justify-content: center;
}
.inputForm{
    border-radius: 25px;
    border: 0;
    margin-right: 10px;
    padding: 10px 15px;
    width: 300px;
    font-weight: bold;
}
.inputForm:focus{
    background-color: #b093c5;
}
.btnForm{
    background-color: #8B48BF;
    border: 0;
    border-radius: 25px;    
    color: white;
    padding: 15px 25px;
}
.btnForm:hover{
    background-color: #bf48b7;
}
.list{
    list-style: none;
}
.listItemMenu{
    color: white;
    text-decoration: none;
}
.listMenu{
    display: flex;
    flex-direction: space-around;
    justify-content: center;
    line-height: 2rem;
    padding-top: 30px;
}
.listMenuIzq{
    padding-right: 90px;
}
.listMenuDer{
    padding-left: 30px;
}
.listIcon{
    display: flex;
    justify-content: center;
}
.listItemIcon{
    padding: 28px;
}
.logoFooter{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
.copyright{
    color: rgb(110, 110, 110);
    font-size: 12px;
    font-weight: 600;
    text-align: center;

}
/* Fin footer */

/* ////Media Query para vista en Desktop//// */
@media (min-width: 481px ){
/* Inicio Section best of the month */
.bestMonth{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 130px;
}
.divBestMonth{
    position: relative;
    margin-bottom: -420px;
}
.articleSanyo{
    display: inline-block;
    background-color: rgb(249, 249, 249);
    padding: 40px 0px 10px 0px;
    position: relative;
    text-align: center;
    width: 30%;
    top: 65px;
    left: 24px;
}
.imgSanyo{
    position: absolute;
    bottom: 83%;
    left: 42%;
}
.titleSanyo{
    color:#232851
}
.textSanyo{
    color: rgb(119, 119, 119);
    line-height: 1.5rem;
    text-align: center;
}
.articleLebron{
    width: 30%;
    padding: 40px 0px 10px 0px;
    left: 420px;
    bottom: 200px;
}
.articleNavarro{
    display: inline-block;
    background-color: rgb(249, 249, 249);
    padding: 40px 0px 10px 0px;
    position: relative;
    text-align: center;
    width: 30%;
    bottom: 465px;
    left: 810px;
}
.imgNavarro{
    position: absolute;
    bottom: 83%;
    left: 42%;
}
.titleNavarro{
    color:#232851
}
.textNavarro{
    color: rgb(119, 119, 119);
    line-height: 1.5rem;
    text-align: center;
}
/* Fin Section best of the month */

/* Inicio Section Go for it */
.upFooter{
    background-color: #8B48BF;
    flex-direction: row;
    justify-content:space-between;
    padding: 80px;
}
.textUpFooter1{
    display:inline;
}
.divTextUpFooter1{
    position: relative;
    left: 20px;
    
}
.divTextUpFooter2{
    position: relative;
    top: 35px;
    left: 20px;
}
.h2Get{
    margin-left: 60px;
}
.btnUpFooter{
    background-color: white;
    color: #8B48BF;
    font-weight: bold;
    margin-right: 125px;
}
/* Fin Section Go for it */

/* Inicio Footer */
footer{
    display: flex;
    flex-direction: row-reverse;
    padding: 0px 0px 50px 0px;
}
.copyright{
    order: -1;
    align-self: flex-end;
    position: relative;
    right: 150px;
}
.articleListIcon{
    align-self: end;
    position: relative;
    right: 160px;
}
.logoFooter{
    align-self:flex-start;
    position: relative;
    top: 40px;
}
.listItemIcon{
    padding: 5px;
}
form{
    align-self: flex-start;
    position: relative;
    top: 50px;
    left: 70px;
}
.inputForm{
    width: 190px;
}
.listMenu{
    position: relative;
    right: 80px;
}
.listMenuIzq{
    padding-right: 180px;
}
/* Fin Footer */
}
